################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Projekat/Model/.vs/Class_Diagram/v15/Server/sqlite3
/Projekat/.vs
/Projekat/bin
/Projekat/obj
