<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
  <appSettings>
	<add key="PatientPath" value="../../Resources/Data/patients.csv"/>
	<add key="DoctorPath" value="../../Resources/Data/doctors.csv"/>
	<add key="AppointmentPath" value="../../Resources/Data/appointments.csv"/>
	<add key="DelimiterValue" value=";"/>

  </appSettings>
</configuration>
